@import "../root.css";
@import "main.css";

.main-block__current-month-time-container{
    width: var(--inside-block-width);
    display: flex;
    flex-direction: column;
}

.main-block__current-month-time-title{
    width: var(--inside-block-width);
    font-size: var(--basic-font-size);
    font-weight: var(--fw-normal);
    color: var(--color-primary);
    margin-bottom: var(--inside-block-mb);
}

.main-block__current-month-time-container li{
    display: flex;
    justify-content: space-between;
}

.main-block__current-month-time-list{
    height: 136px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.main-block__current-month-time div[class*="value"],
.main-block__current-month-time div[class*="key"]{
    color: var(--color-primary);
    position: relative;
}

.main-block__current-month-time-list div[class=key] {
    font-weight: var(--fw-semi-bold);
}

.value-sum, .key-sum{
    font-weight: var(--fw-semi-bold);
}