@import "../root.css";
@import "main.css";

.main-block__container-time {
    display: flex;
}

.main-block__total-time-container {
    width: var(--inside-block-width);
    margin-right: 39px;
    display: flex;
    flex-direction: column;
}

.main-block__time-title {
    width: var(--inside-block-width);
    font-size: var(--basic-font-size);
    font-weight: var(--fw-normal);
    color: var(--color-primary);
    margin-bottom: var(--inside-block-mb);
}


.main-block__total-time-container li {
    display: flex;
    justify-content: space-between;
}

.time-list {
    height: 399px;
    display: flex;
    flex-direction: column;
}

.main-block__project-time div[class*="value"],
.main-block__project-time div[class*="key"] {
    color: var(--color-primary);
}

.main-block__project-time-list div[class=key] {
    font-weight: var(--fw-semi-bold);
}

.value-sum, .key-sum {
    font-weight: var(--fw-semi-bold);
}
