@import "../root.css";
@import "main.css";

.main-block__container-time {
    display: flex;
}

.main-block__total-time-container {
    width: var(--inside-block-width);
    margin-right: 39px;
    display: flex;
    flex-direction: column;
}

.main-block__time-title,.main-block__current-month-time-title,
.main-block__estimations-title {
    width: var(--inside-block-width);
    font-size: var(--basic-font-size);
    font-weight: var(--fw-normal);
    color: var(--color-primary);
    margin-bottom: var(--inside-block-mb);
}

.time-list {
    height: 399px;
    display: flex;
    flex-direction: column;
}


.time-key {
    color: var(--text-color-secondary);
    font-weight: var(--fw-semi-bold);
    margin: 8px 0;
}

.time-value {
    color: var(--text-color-secondary);
    font-weight: var(--fw-normal);
    margin: 8px 0;
}

.value-sum, .key-sum {
    font-weight: var(--fw-semi-bold);
    color: var(--text-color-secondary);
}

.nested-time-key, .nested-time-value{
    color: var(--text-color-secondary);
    margin: 8px 0;
}

.time-item:not(:first-child):after {
    content: '';
    position: absolute;
    border-bottom: var(--main-border);
    width: 240px;
}

.time-item:nth-child(2):before {
    content: '';
    position: absolute;
    border-bottom: var(--main-border);
    width: 240px;
    padding-bottom: 37px;
}

.main-block__estimations-container, .main-block__current-month-time-container{
    width: var(--inside-block-width);
    display: flex;
    flex-direction: column;
}

.estimations-list{
    height: 99px;
    display: flex;
    flex-direction: column;
}

.main-block__current-month-time-list{
    height: 136px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.nested-list{
    width: var(--inside-block-width);
    padding-left: 15px;
}

.nested-time-list{
    width: 224px;
}

.nested-time-item:not(:first-child):after {
    content: '';
    position: absolute;
    border-bottom: var(--main-border);
    width: 224px;
}

.container-for-nested-list{
    width: 240px;
    display: flex;
    justify-content: right;
}