@import "../root.css";
@import "main.css";

.grid {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
    font-size: 12px;
    position: relative;
}

.header {
    font-weight: var(--fw-semi-bold);
    color: var(--color-white);
    background-color: var(--tone-dark-grey-bg-color-first);
    display: flex;
}

.grid-row {
    width: var(--grid-width);
    border-radius: var(--main-border-radius);
    display: flex;
    justify-content: start;
    margin-bottom: 8px;
}

.grid-cell {
    display: flex;
    align-items: center;
    margin-left: 31px;
}

.task-name {
    color: var(--text-color-light-violet);
    font-weight: var(--fw-normal);
    width: 158px;
}

.header-title {
    text-align: right;
}

.task-name-header {
    width: 158px;
}

.task-name-header, .developer-header,
.work-type-header, .status-header,
.estimation-header, .total-time-header,
.my-time-header, .efficiency-header,
.show-more, .grid-scroll {
    cursor: pointer;
}

.developer-header {
    width: 171px;
}

.work-type-header {
    width: 150px;
}

.status-header {
    width: 104px;
}

.estimation-header {
    width: 101px;
}

.total-time-header, .my-time-header {
    width: 131px;
}

.efficiency-header {
    width: 88px;
}

.developer, .work-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.developer {
    width: 171px;
}

.developer, .work-type,
.completed, .non-completed {
    display: flex;
    justify-content: left;
}

.work-type {
    width: 150px;
}

.completed {
    color: var(--color-completed);
}

.non-completed {
    color: var(--color-alert);
}

.completed, .non-completed {
    width: 104px;
}

.estimation {
    width: 101px;
}

.estimation, .total-time,
.my-time, .efficiency,
.efficiency-header {
    display: flex;
    justify-content: right;
}

.total-time, .my-time {
    width: 131px;
}

.efficiency {
    margin-right: 33px;
    width: 88px;
}

.show-more {
    color: var(--text-color-light-violet);
}

.content {
    color: var(--text-color-secondary);
}

.search-page-mockup, .search-page-mockup-first {
    height: 78px;
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.search-page-mockup-second, .search-page-mockup-third {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.search-page-mockup-fourth {
    height: 96px;
    display: flex;
    align-items: center;
    background-color: var(--tone-dark-grey-bg-color-second);
}

.two-levels-of-the-menu-mockup, .subdomain-home-pages-mockup {
    height: 60px;
    background-color: var(--tone-dark-grey-bg-color-second);
    display: flex;
    align-items: center;
}

.edit-pictures {
    height: 78px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
}

.landing-page-mockup-first {
    height: 42px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
}

.landing-page-mockup-second, .landing-page-mockup-third {
    height: 60px;
    background-color: var(--tone-dark-grey-bg-color-second);
    display: flex;
    align-items: center;
}

.separator {
    height: 12px;
    background-color: var(--primary-bg-color);
}

.grid-sum {
    height: 28px;
    background-color: var(--tone-dark-grey-bg-color-first);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sum-conclusion {
    color: var(--color-white);
    font-weight: var(--fw-normal);
}

.sum-conclusion-container {
    display: flex;
}

.grid-scroll {
    overflow-y: scroll;
    height: 248px;
    position: absolute;
    right: 70px;
    top: 80px;
    background: rgba(143, 127, 255, 0.25);
    border-radius: var(--main-border-radius);
}

.grid-scroll::-webkit-scrollbar {
    width: 8px;
    /*background-color: rgba(143, 127, 255, 0.25);*/
}

.grid-scroll::-webkit-scrollbar-track {
    /*background: rgba(143, 127, 255, 0.25);*/
}

.grid-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(143, 127, 255, 0.25);
    border-radius: 7px;
}
