@import "../root.css";
@import "main.css";

.main-block__estimations-container{
    width: var(--inside-block-width);
    display: flex;
    flex-direction: column;
}

.main-block__estimations-title{
    width: var(--inside-block-width);
    font-size: var(--basic-font-size);
    font-weight: var(--fw-normal);
    color: var(--color-primary);
    margin-bottom: var(--inside-block-mb);
}

.estimations-list{
    height: 99px;
    display: flex;
    flex-direction: column;
}

.main-block__estimations-container li{
    display: flex;
    justify-content: space-between;
}

.main-block__estimations div[class*="value"],
.main-block__estimations div[class*="key"]{
    color: var(--color-primary);
    position: relative;
}

.estimations-list div[class=key] {
    font-weight: var(--fw-semi-bold);
}

.estimations-item:not(:first-child):after {
    content: '';
    position: absolute;
    border-bottom: var(--main-border);
    width: 240px;
}

.estimations-item:nth-child(2):before {
    content: '';
    position: absolute;
    border-bottom: var(--main-border);
    width: 240px;
    padding-bottom: 37px;
}