
.main__filters {
    display: flex;
    align-items: center;
    height: 141px;
    margin-left: 60px;
}

.main__filter-dev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: var(--filter-mr);
}

.main__filter-dev-title {
    color: var(--color-primary);
    font-weight: var(--font-weight);
    margin-bottom: 8px;
}

.main__filter-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: var(--filter-mr);
}


.main__filter-status-title {
    color: var(--color-primary);
    font-weight: var(--font-weight);
    margin-bottom: 8px;
}

select {
    -webkit-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select {
    background-color: var(--primary-bg-color);
    color: var(--text-color-secondary);
    width: var(--select-width);
    height: var(--select-height);
    border: var(--main-border);
    border-radius: var(--border-radius);
    padding: var(--select-padding);
    background-image: url('../assets/svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 18px top 50%;
    cursor: pointer;
}

select:hover {
    border-color: var(--secondary-bg-color);
}

select:focus {
    outline: none;
}

.main__checkbox-buttons-container{
    display: flex;
    margin-top: 20px;
}
.main__efficiency {
    margin-right: var(--filter-mr);
    color: var(--text-color-secondary);
    height: var(--select-height);
    display: flex;
    justify-content: center;
    align-items: center;

}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    margin-right: 12px;
    cursor: pointer;
    visibility: hidden;
}

input[type=checkbox]:after {
    content: "";
    display: flex;
    background-color: var(--main-bg-color);
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    visibility: visible;
    border: var(--main-border);
    border-radius: 3px;
}

input[type=checkbox]:checked:after {
    background-color: var(--secondary-bg-color);
    border: 1px solid #8F7FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    content: url("../assets/svg/checkMark.svg");
}

.main__button-apply {
    background-color: var(--secondary-bg-color);
    margin-right: var(--filter-mr);
    height: var(--button-height);
    border-radius: var(--border-radius);
    font-weight: var(--button-name-fw);
    color: #FFFFFF;
    width: 96px;
    border: 1px solid var(--secondary-bg-color);
}

.main__button-reset {
    height: var(--button-height);
    border-radius: var(--border-radius);
    font-weight: var(--button-name-fw);
    background-color: var(--main-bg-color);
    color: var(--text-color-light-violet);
    border: 1px solid var(--secondary-bg-color);
    width: 143px;
}

.main__button-reset:hover {
    border: var(--main-border);
}

.main__button-apply:hover {
    border: var(--main-border);
}

button{
    cursor: pointer;
}