@import "root.css";

.header {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--main-border);
    font-weight: var(--fw-semi-bold);
    font-size: var(--basic-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
}

.header__app-logo {
    height: var(--height-category-header);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 80px 0 60px;
    cursor: pointer;
}

.header__summary {
    margin-right: var(--mr-categoty-header);
    height: var(--height-category-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__summary-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__hours {
    height: var(--height-category-header);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
}

.header__hours-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__projects {
    width: var(--width-categoty-header);
    height: calc(var(--height-category-header) + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    background: rgba(143, 127, 255, 0.15);
    position: relative;
    cursor: pointer;
}

.header__projects::after {
    content: "";
    display: block;
    width: var(--width-categoty-header);
    height: 3px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, var(--light-grey-bg-color) 15.3%, var(--secondary-bg-color) 47.74%, var(--light-blue-tone-bg-color) 67.74%, var(--blue-tone-bg-color) 87.74%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 0 2px 2px;
}

.header__projects-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__time-reports {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__time-reports-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__confirmation {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__confirmation-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__mailer {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__mailer-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__compare {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__compare-text {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__avatar {
    border-left: var(--main-border);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    cursor: pointer;
}
