@import "root.css";

.header {
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    border-bottom: 1px solid var(--main-border);
}

.header__app-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 80px 0 60px;
    height: var(--height-category-header);
}

.header__summary {
    margin-right: var(--mr-categoty-header);
    height: var(--height-category-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__summary-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__hours {
    height: var(--height-category-header);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.header__hours-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__projects {
    width: var(--width-categoty-header);
    height: calc(var(--height-category-header) + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    background: rgba(143, 127, 255, 0.15);
    position: relative;
}

.header__projects::after {
    content: "";
    display: block;
    width: var(--width-categoty-header);
    height: 3px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(359.80deg, #BFBAFA 15.3%, #624BFF 87.74%, #8F7FFF 87.74%, #7F76F7 87.74%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 0 2px 2px;
}

.header__projects-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__time-reports {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__time-reports-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__confirmation {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__confirmation-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__mailer {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__mailer-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__compare {
    height: var(--height-category-header);
    margin-right: var(--mr-categoty-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__compare-text {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color-secondary);
    font-size: var(--basic-font-size);
    font-weight: var(--font-weight);
    margin-left: var(--ml-category-text);
}

.header__avatar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    border-left: 1px solid #3D444E;
}

span[class*="-text"]{
    cursor: pointer;
}