@import "root.css";

nav {
    background-color: var(--primary-bg-color);
    border-bottom: var(--main-border);
    font-weight: var(--fw-semi-bold);
    font-size: var(--basic-font-size);
    display: flex;
    align-items: center;
    height: 68px;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
    height: 100%;
}

nav li a {
    color: var(--text-color-secondary);
    margin-left: var(--ml-category-text);
}

.header__selected-item {
    width: var(--width-selected-item-header);
    height: calc(var(--height-category-header) + 2px);
    margin: 0;
    background: rgba(143, 127, 255, 0.15);
    position: relative;
}

.header__selected-item::after {
    content: "";
    display: block;
    width: var(--width-selected-item-header);
    height: 3px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, var(--light-grey-bg-color) 15.3%, var(--secondary-bg-color) 47.74%, var(--light-blue-tone-bg-color) 67.74%, var(--blue-tone-bg-color) 87.74%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 0 2px 2px;
}

.header__app-logo {
    height: var(--height-category-header);
    margin: 0 66px 0 60px;
}

.header__avatar {
    border-left: var(--main-border);
    width: 164px;
    margin: 0 0 0 44px;
}
