@import "header.css";
@import "filters.css";
@import "main.css";

:root {
    --main-bg-color:#171E28;
    --primary-bg-color: #242B35;
    --secondary-bg-color: #8F7FFF;
    --color-primary: #C7BFFF;
    --text-color-secondary: #B6B4C6;
    --text-color-light-violet: #8F7FFF;
    --color-alert: #FF6A59;
    --select-width: 200px;
    --select-height: 40px;
    --main-border: 1px solid #3D444E;
    --main-border-radius: 7px;
    --basic-font-size: 14px;
    --main-ml: 60px;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-normal: 400;

    --color-white: #FFFFFF;

    /*for filters*/
    --filter-mr: 24px;
    --button-height: 40px;
    --select-padding: 0 18px 0 16px;

    /*for header*/
    --width-categoty-header: 127px;
    --mr-categoty-header: 48px;
    --height-category-header: 100%;
    --ml-category-text: 8px;

    /*for blocks*/
    --block-width: 648px;
    --block-height: 606px;
    --block-margin-title: 40px 0 24px 0;
    --block-fs-title: 16px;
    --block-inside-padding: 0 10px 0 64px;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1440px;
    height: 2068px;
}